.app {
  margin: 4rem auto;
  width: 70%;
  border: 1px solid rgb(145, 187, 250);
}

.namesContainer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(145, 187, 250);
}

.searchInput {
  width: 22%;
  height: 2.2rem;
  display: block;
  margin: 3rem auto;
}

.female,
.male {
  padding: 0.6rem;
  margin: 0.6rem;
  border-radius: 3px;
}
.female {
  background-color: pink;
}

.male {
  background-color: rgb(113, 175, 247);
}
